#container {
  align-items: center;
  height: calc(100vh - 65px - 54px);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

#esquecisenha {
  color: rgb(172, 8, 8);
}

#esquecisenha:hover {
  color: rgb(174, 6, 6);
}

#imgLogo {
  width: 80px ;
  height: auto ;
  margin: 0;
}

figure {
  height: 80px;
  text-align: center;
  margin: 0;
}

#breveDescricao {
  margin: 0;
  font-size: 15px;
  color: #7d8995;
  text-align: center;
}

#filho1 {
  margin-right: 40px;
  width: 424px;
  align-items: center;
}

#filho2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px !important;
  height: 280px !important;
  background-color: rgb(186, 178, 178);
  border-radius: 5px;
  text-align: center;
}

button { background-color: #6152cd;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
}

button:hover {
  background-color: #342795;
    transform: scale(1.05);
}

#usuario,
#senha,
#entrarConta,
#criarConta {
  display: block;
  margin: 0.5% auto;
  font-size: auto;
  width: 400px;
  margin-top: 3%;
}

#usuario,
#senha {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

@media screen and (max-width: 799px) {
  #container {
  flex-direction: column;
    height: calc(100vh - 50.73px - 43px);
    margin-top: 20px;
    gap: 0;
}

footer  {
  height: 43px !important;
}

#filho1 {
  margin-right: 0;
}

#Titulo {
  font-size: 200%;
}

#breveDescricao {
  height: 60px !important;
  font-size: small;
}

#filho2 {
  width: 350px !important;
  height: 240px !important;
  margin-top: 30px;
  margin: 0;
}

#loginForm > *  {
  width: 220px;
  height: 30px;
  gap: 2px;
}

#entrarConta, #criarConta {
  height: 40px !important;
  font-size: 100% !important;
}
}