.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#esquecisenha {
  color: rgb(172, 8, 8);
}

#esquecisenha:hover {
  color: rgb(174, 6, 6);
}

#imgLogo {
  width: 80px;
  height: auto;
  margin: 0;
}

figure {
  height: 80px;
  text-align: center;
  margin: 0;
}

#Titulo {
    text-align: center;
  color: #f9fafb;
  font-size: 50px;
  margin: 0;
}

#breveDescricao {
  margin: 0;
  font-size: 15px;
  color: #7d8995;
  text-align: center;
}

#filho1 {
  margin-right: 40px;
  width: 424px;
  align-items: center;
}

#filho2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 280px;
  background-color: rgb(186, 178, 178);
  border-radius: 5px;
  text-align: center;
}

.inputsInfos,
#entrarConta,
#criarConta {
  margin: 0.5% auto;
  font-size: auto;
  width: 320px;
  margin-top: 3%;
}

#criarConta {
  margin-top: 0;
}

.inputsInfos{
  border-radius: 5px;
  border: none;
  padding: 5px;
}

@media screen and (max-width: 767px) {

  .container {
    padding-top: 120px;
    flex-direction: column;
  }

  #Titulo {
  font-size: 30px;
}

#filho1 {
  margin-right: 0;
  width: 300px;
}

  #filho2 {
    width: 300px;
    height: 280px;
  }

  .inputsInfos,
#entrarConta,
#criarConta {
  width: 280px;
}
}