/*deixar mais bonito*/

* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100vh;
    width: 100vw;
    font-family: "popins", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 16px;
}


main    {
    height: 100%;
    width: 100%;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 78%;
    width: 100%;
}

#filho1 {
    display: grid;
    background-color: rgb(186, 178, 178);
    gap: 15px;
    padding: 3.2%;
    align-items: center;
    border-radius: 8px;
    width: 400px;
    margin: 1% auto;
    height: 250px;
    justify-content: center;
    align-items: center;
}

#filho1 > *   {
    margin: 0 !important;
    justify-self: center
}

#inputEmail {
    display: block;
    margin: 1% auto;
    width: 350px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

#inputEmail{
    margin-bottom: -7%;;
}


p{
    font-size: 18px;
}