<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="./css/cadastroUsuario.css" />
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="icon" href="../img/logo.png" />
  </head>
  <body>
    <div id="container">
      <label for="file" class="file-input">
        <div class="drop-zone" id="drop-zone">
          <p><b>Foto de perfil</b></p>
        </div>
        <input type="file" id="file" />
      </label>
    </div>
  </body>
</html>
