/* Layout base */

html  {
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #111827;
  height: 70vh;
}

#item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
}

.select {
  width: 165px;
  height: 165px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.select:hover {
  transform: scale(1.05);
}

#profissional {
  background-image: url('../img/profissional.png');
}

#financeiro {
  background-image: url('../img/financeiro.png'); 
}

#pessoal {
  background-image: url('../img/pessoal.png'); 
}


@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }

  .container #item:nth-child(3) {
    grid-column: 1 / 3;
  }
}

