<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Area de Seleção</title>
  <link rel="stylesheet" href="./css/areaSelecionar.css" />
  <link rel="icon" href="./img/logo.png" />
  <link rel="stylesheet" href="./css/globalStyle.css" />
</head>

<body>
  <header>
    <div id="abaInfos">
      <figure id="logoFigure">
        <img id="imgLogo" src="./img/logo.png" alt="Logo" />
      </figure>

      <figure id="nomeFigure">
        <img src="./img/manualJovem.png" alt="Manual_do_Jovem" id="nomeImg">
      </figure>

    </div>
  </header>
  <main class="container">
    <div id="item">
      <a href="./tela-profissional.html">
        <button id="profissional" class="select"></button>
      </a>
    </div>
    <div id="item">
      <a href="./tela-pessoal.html">
        <button id="pessoal" class="select"></button>
      </a>
    </div>
    <div id="item">
      <a href="./tela-financeiro.html">
        <button id="financeiro" class="select"></button>
      </a>
    </div>
  </main>
  <footer class="footer">
    © 2025 Desenvolvido por TDS. Todos os direitos reservados.
  </footer>
  </div>
</body>

</html>