<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Como pagar imposto de renda</title>
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="stylesheet" href="./css/artigos.css" />
    <link rel="icon" href="./img/logo.png" />
  </head>
  <body>
    <div class="aba">
      <header>
        <div id="abaInfos">
          <figure id="logoFigure">
            <img id="imgLogo" src="./img/logo.png" alt="Logo" />
          </figure>

          <figure id="nomeFigure">
            <img
              src="./img/manualJovem.png"
              alt="Manual_do_Jovem"
              id="nomeImg"
            />
          </figure>
        </div>
      </header>

      <main id="container">
        <h1 class="title">Como pagar imposto de renda</h1>
        <div class="author">
          <img src="./img/vitharLeo.jpeg" alt="Foto de Vithar Leonarda" />
          <span class="name">Vithar Leonarda</span>
       
          <p id="descrição">
            Para pagar o imposto de renda, verifique se está obrigado a declarar,
            organize documentos como informes de rendimentos e comprovantes de
            despesas.
          </p>
        </div>
      </div>
      </main>
    <footer>
      <p>&copy; 2025 Desenvolvido por TDS. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
