<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Criar Artigo</title>
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="stylesheet" href="./css/criarArtigo.css" />
    <link rel="icon" href="./img/logo.png" />
  </head>
  <body>
    <header>
      <div id="abaInfos">
        <figure id="logoFigure">
          <img id="imgLogo" src="./img/logo.png" alt="Logo" />
        </figure>

        <figure id="nomeFigure">
          <img src="./img/manualJovem.png" alt="Manual_do_Jovem" id="nomeImg" />
        </figure>
      </div>

      <div id="fotoDiv">
        <button id="fotoBtn">
          <img src="./img/vitharLeo.jpeg" alt="Foto Perfil" id="fotoImg" />
        </button>
      </div>
    </header>

    <main id="container">
      <div id="divInfos" class="hidden">
        <div id="opcoesPerfil" class="hidden">
          <a href="" class="hrefPerfil">Editar Perfil</a>
          <a href="" class="hrefPerfil">Entrar em contato</a>
          <a href="" class="hrefPerfil">Redefinir Senha</a>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Desenvolvido por TDS. Todos os direitos reservados.</p>
    </footer>

    <script src="./js/fotoPerfil.js"></script>
  </body>
</html>
