<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="icon" href="./img/logo.png" />
  </head>
  <body>
    <header>
      <div id="abaInfos">
        <figure id="logoFigure">
          <img id="imgLogo" src="./img/logo.png" alt="Logo" />
        </figure>

        <figure id="nomeFigure">
          <img src="./img/manualJovem.png" alt="Manual_do_Jovem" id="nomeImg" />
        </figure>
      </div>
    </header>

    <div id="container">
      <div>
        <h2>Português (Brasil)</h2>
        <div>
          <p>MA</p>
        </div>
        <form>
          <input
            type="password"
            placeholder="Insira nova senha..."
          /><br /><br />
          <input
            type="password"
            placeholder="Confirmar nova senha..."
          /><br /><br />
          <button type="submit">Confirmar</button>
        </form>
      </div>
      <footer class="footer">
        © 2025 Desenvolvido por TDS. Todos os direitos reservados.
      </footer>
    </div>
  </body>
</html>
